{
  "presets": [
    [
      "/Users/c/Project/AGRI/header/node_modules/babel-preset-es2015/lib/index.js",
      {
        "loose": true,
        "modules": "commonjs"
      }
    ],
    "/Users/c/Project/AGRI/header/node_modules/babel-preset-es2016/lib/index.js",
    "/Users/c/Project/AGRI/header/node_modules/babel-preset-stage-2/lib/index.js",
    "/Users/c/Project/AGRI/header/node_modules/babel-preset-react/lib/index.js"
  ],
  "plugins": [
    "/Users/c/Project/AGRI/header/node_modules/babel-plugin-transform-decorators-legacy/lib/index.js",
    [
      "/Users/c/Project/AGRI/header/node_modules/babel-plugin-transform-react-remove-prop-types/lib/index.js",
      {
        "mode": "wrap"
      }
    ],
    [
      "/Users/c/Project/AGRI/header/node_modules/babel-plugin-transform-runtime/lib/index.js",
      {
        "helpers": false,
        "polyfill": false,
        "regenerator": true
      }
    ],
    "/Users/c/Project/AGRI/header/node_modules/babel-plugin-add-module-exports/lib/index.js"
  ],
  "ignore": [
    ".spec.js",
    ".test.js",
    "-test.js",
    "/__tests__/"
  ]
}