// Consistent colour across site
$border-grey:             #E0E0E0;
$placeholder-grey:        #999999;
$text-grey:               #3e3e3e;
$white:                   #ffffff;
$red:                     #ff3366;
$serchhover:              darken(whitesmoke, 10%);

.autosuggestContainer {
  position: relative;
  .react-autosuggest__input {
    height: 20px;
    border-style: none;
    font-size: 0.8rem;
    border: 1px solid $border-grey;
    padding-left: 22px;
    // width: 240px;
    border-radius: 12px;

    &::-webkit-search-cancel-button,
    &::-webkit-search-results-button,
    &::-webkit-search-results-decoration {
      display: none;
    }
    &::placeholder {
      color: $placeholder-grey;
    }
  }

  .react-autosuggest__input--focused {
    outline: none;
  }

  .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  i {
    position: absolute;
    top: 1px;
    left: 4px;
    width: 20px;
    height: 100%;
    background-image: url("./search.svg");
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 15px auto;
    color: $white;
  }
}

// to increase specificity
.top-menu-header .top-links {
  .react-autosuggest__suggestions-container--open {
    display: block;
    position: absolute;
    top: 30px;
    width: 310px;
    border: 1px solid $border-grey;
    background-color: #fff;
    font-weight: 300;
    font-size: 16px;
    z-index: 2;
    color: black;
    // padding: 5px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.2);

    .react-autosuggest__suggestions-list {
      height: auto;
      max-height: 155px;
      overflow-y: scroll;
      li {
        display: block;
        width: 100%;
      }
    }

    .react-autosuggest__suggestion {
      margin: 0;
      padding: 0;
      margin: 2px 0;
      &:hover {
        background-color: $serchhover;
      }
      a {
        color: black;
        cursor: pointer;
        padding: 0 10px;
        font-size: 0.7rem;
        text-decoration: none;
        border-bottom: none;

        &:hover {
          background-color: transparent;
        }
        em {
          margin-left: 10px;
          font-size: 0.6rem;
        }
      }
    }
  }
}
