.autosuggestContainer {
  position: relative; }
  .autosuggestContainer .react-autosuggest__input {
    height: 20px;
    border-style: none;
    font-size: 0.8rem;
    border: 1px solid #E0E0E0;
    padding-left: 22px;
    width: 100%;
    border-radius: 12px; }
    .autosuggestContainer .react-autosuggest__input::-webkit-search-cancel-button, .autosuggestContainer .react-autosuggest__input::-webkit-search-results-button, .autosuggestContainer .react-autosuggest__input::-webkit-search-results-decoration {
      display: none; }
    .autosuggestContainer .react-autosuggest__input::placeholder {
      color: #999999; }
  .autosuggestContainer .react-autosuggest__input--focused {
    outline: none; }
  .autosuggestContainer .react-autosuggest__suggestions-list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .autosuggestContainer i {
    position: absolute;
    top: 1px;
    left: 4px;
    width: 20px;
    height: 100%;
    background-image: url("search.svg");
    background-repeat: no-repeat;
    background-position: left 50%;
    background-size: 15px auto;
    color: #ffffff; }

.top-menu-header .top-links .react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 70px;
  width: 80%;
  border: 1px solid #E0E0E0;
  background-color: #fff;
  z-index: 2;
  color: black;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2); }
  @media screen and (min-width: 992px) {
    .top-menu-header .top-links .react-autosuggest__suggestions-container--open {
      top: 30px;
      width: 350px; } }
  .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestions-list {
    height: auto;
    max-height: 600px;
    overflow-y: scroll; }
    .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestions-list li {
      display: block;
      width: 100%; }
  .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion {
    margin: 0;
    padding: 0;
    margin: 2px 0; }
    .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion:hover {
      background-color: gainsboro; }
    .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a {
      color: #313131;
      text-decoration: none;
      border-bottom: none; }
      .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a:hover {
        background-color: transparent; }
      .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span {
        margin-left: 5px;
        color: #666; }
        .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span:first-of-type {
          margin-left: 0; }
        .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-id {
          font-weight: 700;
          color: #313131; }
          .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-id:after {
            content: "\000A";
            white-space: pre; }
        .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-date {
          margin-left: 20px; }
          .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-date:before {
            content: "Created ";
            white-space: pre; }
          .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-date:after {
            content: "\000A";
            white-space: pre; }
        .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-status {
          margin-left: 20px; }
          .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-status:before {
            content: "Status ";
            white-space: pre; }
          .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-status:after {
            content: "\000A";
            white-space: pre; }
        .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-destinationCountry {
          margin-left: 20px; }
          .top-menu-header .top-links .react-autosuggest__suggestions-container--open .react-autosuggest__suggestion a span.search-bar-results-destinationCountry:before {
            content: "Export country ";
            white-space: pre; }
